$color--blue: hsl(223, 87%, 63%);
$color--pale_blue: hsl(223, 100%, 88%);
$color--light_red: hsl(354, 100%, 66%);
$color--gray: hsl(0, 0%, 59%);
$color--very_dark_blue: hsl(209, 33%, 12%);

$ff-libre: 'Libre Franklin', sans-serif;

$fsz-p: 2rem;

$fw--light: 300;
$fw--semibold: 600;
$fw--bold: 700;
